{% extends 'blog-layout.html' %}

{% load static from staticfiles %}
{% block title %} Article's Home {% endblock title%}

{% block content %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({% static 'img/blog-home-bg.jpg'%})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Articles</h1>
          <hr class="small">
          <span class="subheading">by Luis Padron</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% for article in articles %}
      <div class="post-preview">
        <a href="/articles/{{ article.slug }}">
          <h2 class="post-title">
            {{ article.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ article.subtitle }}
          </h3>
        </a>
        <p class="post-meta">Posted on {{ article.created_at }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content%}
