{% extends 'blog-layout.html' %}
{% load markdown_deux_tags %}
{% load disqus_tags %}

{% block title%} {{ article.title }} {% endblock %}

{% block content %}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ article.img_link }}')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1 id="title">{{ article.title }}</h1>
          <h2 id="subtitle" class="subheading">{{ article.subtitle }}</h2>
          <span id="date" class="meta">Posted on {{ article.created_at }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 2000px;
  margin: 0 auto;
  padding: 45px;
}
</style>
<!-- Post Content -->
<article>
  <div class="container markdown-body">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ article.get_markdown }}
      </div>
    </div>
  </div>
</article>

<div class="container markdown-body">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% disqus_show_comments %}
    </div>
  </div>
</div>


{% if article.shouldDarkenHeader %}
<script type="text/javascript">
  document.getElementById('title').style.color = "#222222"
  document.getElementById('subtitle').style.color = "#222222"
  document.getElementById('date').style.color = "#222222"
  document.getElementById('name').style.color = "#222222";
  document.getElementById('home-link').style.color = "#222222";
  document.getElementById('about-link').style.color = "#222222";
  document.getElementById('projects-link').style.color = "#222222";
  document.getElementById('contact-link').style.color = "#222222";
</script>
{% endif %}

{% endblock %}
